/*
 *
 * FONTS
 *
 */
@font-face {
  font-family: "Product Sans Light";
  src: url("../../fonts/ProductSans-Light.woff2") format("woff2"), url("../../fonts/ProductSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Product Sans Regular";
  src: url("../../fonts/ProductSans-Regular.woff2") format("woff2"), url("../../fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Product Sans Medium";
  src: url("../../fonts/ProductSans-Medium.woff2") format("woff2"), url("../../fonts/ProductSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Canopee";
  src: url("../../fonts/Canopee-Regular.woff2") format("woff2"), url("../../fonts/Canopee-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
 *
 * COLORS
 *
 */
/*
 *
 * BREAKPOINTS
 *
 */
/*
 *
 * GRID
 *
 */
.row {
  clear: both;
}

.col {
  float: left;
  width: 100%;
}

.col-sm-25 {
  width: 25%;
}

.col-sm-50 {
  width: 50%;
}

.col-sm-75 {
  width: 75%;
}

.col-sm-100 {
  width: 100%;
}

.col-sm-20 {
  width: 20%;
}

.col-sm-40 {
  width: 40%;
}

.col-sm-60 {
  width: 60%;
}

.col-sm-80 {
  width: 80%;
}

.col-sm-30 {
  width: 30%;
}

.col-sm-70 {
  width: 70%;
}

.col-sm-33 {
  width: 33.3333333333%;
}

.col-sm-67 {
  width: 66.6666666667%;
}

@media only screen and (min-width: 768px) {
  .col-md-25 {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-50 {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-75 {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-100 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-20 {
    width: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-40 {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-60 {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-80 {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-30 {
    width: 30%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-70 {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-33 {
    width: 33.3333333333%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-67 {
    width: 66.6666666667%;
  }
}

@media only screen and (min-width: 993px) {
  .col-lg-25 {
    width: 25%;
  }
}

@media only screen and (min-width: 993px) {
  .col-lg-50 {
    width: 50%;
  }
}

@media only screen and (min-width: 993px) {
  .col-lg-75 {
    width: 75%;
  }
}

@media only screen and (min-width: 993px) {
  .col-lg-100 {
    width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .col-lg-20 {
    width: 20%;
  }
}

@media only screen and (min-width: 993px) {
  .col-lg-40 {
    width: 40%;
  }
}

@media only screen and (min-width: 993px) {
  .col-lg-60 {
    width: 60%;
  }
}

@media only screen and (min-width: 993px) {
  .col-lg-80 {
    width: 80%;
  }
}

@media only screen and (min-width: 993px) {
  .col-lg-30 {
    width: 30%;
  }
}

@media only screen and (min-width: 993px) {
  .col-lg-70 {
    width: 70%;
  }
}

@media only screen and (min-width: 993px) {
  .col-lg-33 {
    width: 33.3333333333%;
  }
}

@media only screen and (min-width: 993px) {
  .col-lg-67 {
    width: 66.6666666667%;
  }
}

/*
 *
 * GLOBAL
 *
 */
* {
  padding: 0;
  margin: 0;
}

body {
  color: #000;
  font-family: "Product Sans Light", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.heading {
  font-family: "Canopee", sans-serif;
  font-weight: 500;
  font-size: 3.2em;
  line-height: 1;
}
@media only screen and (min-width: 993px) {
  .heading {
    font-size: 4.7em;
  }
}

.sans-heading {
  font-family: "Product Sans Regular", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media only screen and (min-width: 993px) {
  .sans-heading {
    font-size: 2em;
  }
}

.label {
  font-size: 0.7em;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 993px) {
  .label {
    font-size: 1em;
  }
}

.preview-text {
  font-size: 0.9em;
}
@media only screen and (min-width: 993px) {
  .preview-text {
    font-size: 1em;
  }
}

p {
  font-size: 1em;
}
@media only screen and (min-width: 993px) {
  p {
    font-size: 0.9em;
  }
}

.button {
  text-transform: uppercase;
  font-family: "Product Sans Medium", sans-serif;
  padding: 7px 20px;
  font-size: 0.7em;
  border: 1px solid #000;
  display: inline-block;
}
@media only screen and (orientation: portrait) {
  .wrapper {
    width: 85%;
    margin: 0 auto;
  }
}
@media only screen and (orientation: portrait) and (max-width: 349px) and (orientation: portrait) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (orientation: portrait) {
  .primary-heading-group {
    width: 85%;
    margin: 0 auto;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  .primary-heading-group {
    width: 85%;
  }
}

.img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.thumbnail {
  height: 140px;
  width: 140px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .thumbnail {
    height: 280px;
    width: 280px;
  }
}
@media only screen and (min-width: 993px) {
  .thumbnail {
    height: 260px;
    width: 280px;
  }
}

@media only screen and (orientation: landscape) {
  #content-container {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    width: 400vw;
  }
}
@media only screen and (min-width: 993px) and (orientation: landscape) {
  #content-container {
    padding-left: 264px;
  }
}

.flex-container {
  clear: both;
}
@media only screen and (orientation: landscape) {
  .flex-container {
    height: 97vh;
    width: 100vw;
    overflow-y: hidden;
  }
}
@media only screen and (min-width: 993px) and (orientation: landscape) {
  .flex-container {
    padding-left: 100px;
  }
}

@media only screen and (orientation: portrait) {
  .flex-container:first-child {
    padding-top: 70px;
  }
}

@media only screen and (orientation: landscape) {
  .content {
    height: calc(100vh - 220px);
    background: red;
    margin: 100px 0;
  }
}

@media only screen and (min-width: 768px) {
  .small-only {
    display: none;
  }
}

@media only screen and (min-width: 350px) and (max-width: 767px) {
  .medium-only {
    display: none;
  }
}
@media only screen and (min-width: 993px) {
  .medium-only {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .large-and-up {
    display: none;
  }
}

@media only screen and (min-width: 993px) {
  .medium-and-down {
    display: none;
  }
}

@media only screen and (orientation: landscape) {
  .portrait {
    display: none;
  }
}

@media only screen and (orientation: portrait) {
  .landscape {
    display: none;
  }
}

/*
 *
 * NAV
 *
 */
#mobileNav {
  width: 100%;
  background: white;
  position: fixed;
  z-index: 100;
  padding: 15px 25px;
}
#mobileNav .logomark {
  display: inline-block;
}
#mobileNav .logomark img {
  vertical-align: middle;
  height: 40px;
}

#mobileNavTrigger {
  z-index: 102;
  width: 45px;
  position: fixed;
  top: 20px;
  right: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#mobileNavTrigger span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#mobileNavTrigger span:nth-child(1) {
  top: 12px;
}
#mobileNavTrigger span:nth-child(2) {
  top: 18px;
}
#mobileNavTrigger span:nth-child(3) {
  top: 24px;
}

#mobileNavTrigger.open {
  top: 30px;
}
#mobileNavTrigger.open span {
  background: #FFF;
}
#mobileNavTrigger.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#mobileNavTrigger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#mobileNavTrigger.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#mobileNavMenu {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 101;
  background: #A3391C;
}
#mobileNavMenu .logomark-container {
  height: 25%;
}
#mobileNavMenu .logomark-container .logomark {
  padding: 30px;
  height: 60px;
}
#mobileNavMenu .menu-container {
  height: 55%;
}
#mobileNavMenu .menu-container .menu {
  padding: 0 30px;
}
#mobileNavMenu .menu-container .menu a {
  text-transform: uppercase;
  font-size: 1em;
  font-family: "Product Sans Regular", sans-serif;
  letter-spacing: 1px;
  color: #FFF;
}
#mobileNavMenu .menu-container .menu a li {
  list-style-type: none;
  padding: 8px 0;
}
#mobileNavMenu .logotype-container {
  height: 20%;
}
#mobileNavMenu .logotype-container .logotype {
  padding: 0 30px;
  height: 30px;
  position: absolute;
  bottom: 30px;
}
#mobileNavMenu .social-icons {
  z-index: 100;
  position: fixed;
  right: 30px;
  bottom: 23px;
}
#mobileNavMenu .social-icons ul {
  display: flex;
}
#mobileNavMenu .social-icons ul li {
  list-style-type: none;
  padding-left: 10px;
}
#mobileNavMenu .social-icons ul li .social {
  height: 25px;
}

#webNav {
  z-index: 100;
  height: 100vh;
  width: auto;
  position: fixed;
}
#webNav .sidebar-container {
  height: 100vh;
  background-color: #DA6D21;
  width: 165px;
  padding: 0 50px;
}
#webNav .sidebar-container .logomark-container {
  height: 33%;
}
#webNav .sidebar-container .logomark-container .logomark {
  height: 70px;
  position: absolute;
  top: 50px;
}
#webNav .sidebar-container .menu-container {
  height: 47%;
}
#webNav .sidebar-container .menu-container .menu {
  position: absolute;
}
#webNav .sidebar-container .menu-container .menu a {
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: "Product Sans Regular", sans-serif;
  letter-spacing: 1px;
}
#webNav .sidebar-container .menu-container .menu a li {
  list-style-type: none;
  padding: 8px 0;
}
#webNav .sidebar-container .logotype-container {
  height: 20%;
}
#webNav .sidebar-container .logotype-container .logotype {
  height: 50px;
  position: absolute;
  bottom: 60px;
}

#topRightNav {
  z-index: 100;
  position: fixed;
  right: 50px;
  top: 50px;
  text-align: right;
  font-size: 1.1em;
  text-align: right;
}
#topRightNav ul {
  display: flex;
  list-style-type: none;
}
#topRightNav ul li {
  padding-left: 20px;
}
#topRightNav .search {
  height: 1.21em;
}

#bottomRightNav {
  z-index: 100;
  position: fixed;
  right: 50px;
  bottom: 35px;
}
#bottomRightNav ul {
  display: flex;
}
#bottomRightNav ul li {
  list-style-type: none;
  padding-left: 15px;
}
#bottomRightNav ul li .social {
  height: 30px;
}

/*
 *
 * NAV
 *
 */
#mobileFooter {
  background: #A3391C;
  height: 30px;
  padding: 25px;
}
#mobileFooter .logotype-container {
  display: inline-block;
}
#mobileFooter .logotype-container img {
  height: 30px;
}
#mobileFooter .social-icons {
  display: inline-block;
  float: right;
  padding-top: 5px;
}
#mobileFooter .social-icons ul {
  display: flex;
  list-style: none;
}
#mobileFooter .social-icons ul a {
  padding-left: 10px;
}
#mobileFooter .social-icons ul a img {
  height: 20px;
}

/*
 *
 * HOME
 *
 */
#home #content-container p {
  font-size: 0.9em;
}
@media only screen and (orientation: portrait) {
  #home #content-container .featured-article .hero {
    height: calc(100vh - 300px);
  }
  #home #content-container .featured-article .background-container {
    background: #8682A3;
    height: 230px;
    position: relative;
  }
  #home #content-container .featured-article .background-container .primary-heading-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #home #content-container .featured-article .background-container .primary-heading-group .heading {
    padding: 10px 0 0 0;
  }
  #home #content-container .featured-article .background-container .primary-heading-group .btn-container {
    text-align: right;
    padding-top: 10px;
  }
}
@media only screen and (orientation: landscape) {
  #home #content-container .featured-article {
    width: 80vw;
  }
  #home #content-container .featured-article .hero {
    height: calc(100% - 150px);
  }
  #home #content-container .featured-article .background-container {
    height: 150px;
    width: 100%;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .about .content .images {
    padding: 50px 0 25px;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .about .content .images {
    padding: 50px 0;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .about .content .images .img-container:first-child {
    height: 300px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .about .content .images .img-container:nth-child(2) {
    height: 130px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .about .content .images .img-container:last-child {
    height: 200px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .about .content .text {
    padding-bottom: 50px;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .about .content .text {
    padding: 150px 0 0 30px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .about .content .text h3 {
    padding-bottom: 30px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .about .content .text p {
    padding-bottom: 25px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .about .content .text .btn-container {
    text-align: right;
  }
}
@media only screen and (orientation: landscape) {
  #home #content-container .about {
    width: 85vw;
  }
  #home #content-container .about .content .images {
    position: relative;
    height: calc(100vh - 220px);
    width: 100%;
    background: blue;
  }
  #home #content-container .about .content .images .img-container {
    position: absolute;
  }
  #home #content-container .about .content .images .img-container:first-child {
    height: calc(100vh - 220px);
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  #home #content-container .about .content .images .img-container:nth-child(2) {
    height: 50vh;
    width: 38%;
    bottom: 0;
  }
  #home #content-container .about .content .images .img-container:last-child {
    height: 35vh;
    width: 35%;
    right: 0;
    bottom: 0;
  }
  #home #content-container .about .content .text-container {
    position: relative;
    height: calc(100vh - 220px);
    width: 100%;
  }
}
@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .about .content .text-container {
    padding: 150px 0 0 30px;
  }
}
@media only screen and (orientation: landscape) {
  #home #content-container .about .content .text-container .text {
    position: absolute;
    bottom: 100px;
    left: 50px;
    width: 70%;
  }
  #home #content-container .about .content .text-container .text h3 {
    padding-bottom: 30px;
  }
  #home #content-container .about .content .text-container .text p {
    padding-bottom: 25px;
  }
  #home #content-container .about .content .text-container .text .btn-container {
    text-align: right;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .recipes .hero {
    height: 300px;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .recipes .hero {
    height: 450px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .recipes .background-container {
    background: #F4B10E;
    padding: 30px 0 25px 0;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .recipes .background-container {
    padding: 50px 0 45px 0;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .recipes .background-container .primary-heading-group .heading {
    padding: 10px 0 0 0;
  }
  #home #content-container .recipes .background-container .primary-heading-group p {
    padding-top: 20px;
  }
  #home #content-container .recipes .background-container .primary-heading-group .btn-container {
    text-align: right;
    padding-top: 10px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .recipes .thumbnail-group .wrapper {
    width: 85%;
    padding: 30px 0;
    height: auto;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .recipes .thumbnail-group .wrapper {
    padding: 50px 0;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .recipes .thumbnail-group .wrapper .thumbnail {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .recipes .thumbnail-group .wrapper .thumbnail {
    padding-bottom: 45px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .recipes .thumbnail-group .wrapper .primary-heading-group {
    width: calc(100% - 20px);
    padding-left: 20px;
    padding-bottom: 30px;
  }
  #home #content-container .recipes .thumbnail-group .wrapper .primary-heading-group .sans-heading {
    padding: 10px 0 5px 0;
  }
  #home #content-container .recipes .thumbnail-group .wrapper .primary-heading-group p {
    padding-top: 10px;
  }
  #home #content-container .recipes .thumbnail-group .wrapper .primary-heading-group .btn-container {
    text-align: right;
    padding-top: 10px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .articles .hero {
    height: 300px;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .articles .hero {
    height: 450px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .articles .background-container {
    background: #A3391C;
    padding: 30px 0 25px 0;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .articles .background-container {
    padding: 50px 0 45px 0;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .articles .background-container .primary-heading-group .heading {
    padding: 10px 0 0 0;
  }
  #home #content-container .articles .background-container .primary-heading-group p {
    padding-top: 20px;
  }
  #home #content-container .articles .background-container .primary-heading-group .btn-container {
    text-align: right;
    padding-top: 10px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .articles .thumbnail-group .wrapper {
    width: 85%;
    padding: 30px 0;
    height: auto;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .articles .thumbnail-group .wrapper {
    padding: 50px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .articles .thumbnail-group .wrapper .thumbnail {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .articles .thumbnail-group .wrapper .thumbnail {
    padding-bottom: 50px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .articles .thumbnail-group .wrapper .primary-heading-group {
    width: calc(100% - 20px);
    padding-left: 20px;
    padding-bottom: 30px;
  }
  #home #content-container .articles .thumbnail-group .wrapper .primary-heading-group .sans-heading {
    padding: 10px 0 5px 0;
  }
  #home #content-container .articles .thumbnail-group .wrapper .primary-heading-group p {
    padding-top: 10px;
  }
  #home #content-container .articles .thumbnail-group .wrapper .primary-heading-group .btn-container {
    text-align: right;
    padding-top: 10px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .shop .hero {
    height: 350px;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .shop .hero {
    height: 450px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .shop .primary-heading-group {
    padding: 20px 0 40px 0;
  }
}
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  #home #content-container .shop .primary-heading-group {
    padding: 40px 0 20px 0;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .shop .primary-heading-group .heading {
    padding-bottom: 9px;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .shop .primary-heading-group p {
    padding: 15px 0 20px 0;
  }
}
@media only screen and (orientation: portrait) {
  #home #content-container .shop .primary-heading-group .btn-container {
    text-align: right;
  }
}

/*# sourceMappingURL=style.css.map */
