/*
 *
 * GRID
 *
 */

.row {
    clear: both;
}

.col {
    float: left;
    width: 100%;
}

// Small

.col-sm-25 {
    width: 25%;
}

.col-sm-50 {
    width: 50%;
}

.col-sm-75 {
    width: 75%;
}

.col-sm-100 {
    width: 100%;
}

.col-sm-20 {
    width: 20%;
}

.col-sm-40 {
    width: 40%;
}

.col-sm-60 {
    width: 60%;
}

.col-sm-80 {
    width: 80%;
}

.col-sm-30 {
    width: 30%;
}

.col-sm-70 {
    width: 70%;
}

.col-sm-33 {
    width: 33.33333333333333%;
}

.col-sm-67 {
    width: 66.6666666666667%;
}

// Medium

.col-md-25 {
    @include medium-and-up {
        width: 25%;
    }
}

.col-md-50 {
    @include medium-and-up {
        width: 50%;
    }
}

.col-md-75 {
    @include medium-and-up {
        width: 75%;
    }
}

.col-md-100 {
    @include medium-and-up {
        width: 100%;
    }
}

.col-md-20 {
    @include medium-and-up {
        width: 20%;
    }
}

.col-md-40 {
    @include medium-and-up {
        width: 40%;
    }
}

.col-md-60 {
    @include medium-and-up {
        width: 60%;
    }
}

.col-md-80 {
    @include medium-and-up {
        width: 80%;
    }
}

.col-md-30 {
    @include medium-and-up {
        width: 30%;
    }
}

.col-md-70 {
    @include medium-and-up {
        width: 70%;
    }
}

.col-md-33 {
    @include medium-and-up {
        width: 33.33333333333333%;
    }
}

.col-md-67 {
    @include medium-and-up {
        width: 66.6666666666667%;
    }
}

// Large

.col-lg-25 {
    @include large-and-up {
        width: 25%;
    }
}

.col-lg-50 {
    @include large-and-up {
        width: 50%;
    }
}

.col-lg-75 {
    @include large-and-up {
        width: 75%;
    }
}

.col-lg-100 {
    @include large-and-up {
        width: 100%;
    }
}

.col-lg-20 {
    @include large-and-up {
        width: 20%;
    }
}

.col-lg-40 {
    @include large-and-up {
        width: 40%;
    }
}

.col-lg-60 {
    @include large-and-up {
        width: 60%;
    }
}

.col-lg-80 {
    @include large-and-up {
        width: 80%;
    }
}

.col-lg-30 {
    @include large-and-up {
        width: 30%;
    }
}

.col-lg-70 {
    @include large-and-up {
        width: 70%;
    }
}

.col-lg-33 {
    @include large-and-up {
        width: 33.33333333333333%;
    }
}

.col-lg-67 {
    @include large-and-up {
        width: 66.6666666666667%;
    }
}